{% extends 'myadmin/index.html' %}
{% block title %}
<title>商品信息</title>
{% endblock %}
{% block content %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">文章列表</div></div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success">
                                        <a href="{% url 'myadmin_goods_add' %}"><span class="am-icon-plus"></span>新增</a>
                                    </button>
                
                                </div>
                            </div>
                        </div>
                    </div>
                <form>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                        <div class="am-form-group tpl-table-list-select">
                            <select name="types" data-am-selected="{btnSize: 'sm'}">
                              
                                <option value="title" {% if request.GET.types == "title" %} selected {% endif %}>商品名称</option>
                                
                                <option value="price" {% if request.GET.types == "price" %} selected {% endif %}>商品价格</option>
                                
                            </select>
                            
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input type="text" name="keywords" class="am-form-field" value="{{ search.keywords }}">
                            <span class="am-input-group-btn">
                                <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"></button>
                            </span>
                        </div>
                    </div>
                </form>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>商品图片</th>
                                    <th>title</th>
                                    <th>单价</th>
                                    <th>库存</th>
                                    <th>销量</th>
                                    <th>点击量</th>
                                    <th>状态</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in info %}
                                <tr class="gradeX">
                                    <td>{{i.id}}</td>
                                    <td class="am-text-middle"><img src="{{i.pic_url}}" width="100"></td>
                                    <td class="am-text-middle">{{i.title}}</td>
                                    <td class="am-text-middle">{{i.price}}</td>
                                    <td class="am-text-middle">{{i.gnum}}</td>
                                    <td class="am-text-middle">{{i.ordernum}}</td>  
                                   
                                    <td class="am-text-middle">{{i.clicknum}}</td>

                                    <td class="am-text-middle"> 
                                        {% if i.status == 1 %}已删除
                                        {% elif i.status == 0 %}正常
                                        {% endif %}
                                    </td>         
                                   
                                    <td class="am-text-middle">{{i.adddtime}}</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="{% url 'myadmin_goods_edit' %}?id={{i.id}}">
                                                <i class="am-icon-pencil"></i>编辑</a>
                                            <a href="javaScript:void(0)" class="tpl-table-black-operation-del delg">
                                                <i class="am-icon-trash"></i>删除</a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                -
                                <!-- more data --></tbody>
                        </table>

                        <script type="text/javascript">
                        $('.delg').click(function(){
                                // 获取当前单击类别的id
                                var id = $(this).parents('tr').find('td:eq(0)').text();
                                // 获取要删除的元素
                                var el = $(this).parents('tr');
                                // 发送ajax请求
                                $.get('{% url "myadmin_goods_del" %}',{'id':id},function(data){
                                    // 判断后台返回的数据
                                    if(data['error']==0){
                                        alert(data['msg'])
                                    }else if(data['error']==1){
                                        // 删除标签
                                        // console.log($(this))
                                        // ajax内部使用$(this)指向ajax对象中XML Httprequest
                                        el.remove();
                                        alert(data['msg']);
                                    }
                                })
                            })
                        </script>


                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li>
                                    <a href="?p={{pg|add:-1}}&types={{ search.types }}&keywords={{ search.keywords }}">«</a></li>
                                {% for i in pagenums %}
                                <li {% if pg == i %} class="am-active" {% endif %}>
                                    <a href="?p={{i}}&types={{ search.types }}&keywords={{ search.keywords }}">{{ i }}</a></li>
                                {% endfor %}
                                <li>
                                    <a href="?p={{pg|add:1}}&types={{ search.types }}&keywords={{ search.keywords }}">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
